{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ospsinspur</title>
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.css"  %}" rel="stylesheet" />
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    <style>
        .user-icon,.icon{
            margin-right: 15px;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            line-height: 46px;
            font-size: 2.4rem;
        }
    </style>
    </head>
<body class="home-template">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="#" alt="">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">XX版论坛</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">PS专业版</a></li>
                        <li><a href="#">PS商贸版</a></li>
                        <li><a href="#">PS标准版</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">PSCloud</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-search" title="搜索"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bell" title="通知"></span></a></li>
                <li ><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{% url 'community' %}">主页</a></li>
                    <li><a href="#">板块</a></li>
                    <li><a href="#">{{ content_detailed.fourm_plate }}</a></li>
                    <li class="active">{{ content_detailed.fourm_title }}</li>
                </ol>
            </div>
        </div>
<div class="container">
    <div class="aw-comment-list blog-main">
        <div class="heading-content">
            {{ content_detailed.fourm_title }}
        </div>
        <br/>
        <div class="post-content">
            <div class="icon pull-left">
                <a>
                    <!--<div data-uid="17890" class="user-icon" style="background-color: #2196f3;" data-original-title="" title="">
                        K
                    </div>-->
                    <img src="{% static 'images/qqq.png' %}"></a>
            </div>
        </div>
        <div class="blog-info" style="padding-top: 10px">
            <small><span class="text-color-999"><a>{{ content_detailed.fourm_userid }}</a></span></small>
            <small><span class="text-color-999">于{{ content_detailed.fourm_time }}发布</span></small>
            <small><span class="text-color-999">浏览:{{ content_detailed.fourm_plate }}</span></small>
            <small><span class="text-color-999">回复:{{ content_detailed.fourm_plate }}</span></small>
        </div>
        <br/>
        <div class="blog-txt container" style="padding-left: 60px;padding-right: 60px">
             {{ content_detailed.fourm_content | safe }}
        </div>
    </div>
</div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <a class="fa btn btn-primary" data-toggle="modal" data-target="#myModal">回复</a>
                <a class="fa btn btn-primary">引用</a>
                <a class="fa btn btn-primary">关注</a>
                <a class="fa fa-thumbs-up btn btn-primary"></a>
                <a class="fa fa-thumbs-down btn btn-danger"></a>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 50px"></div>
<!--<div class="container">
    <div class="aw-comment-list blog-main">
        <div class="post-content">
            <div class="icon pull-left">
                <a><img src="{% static 'images/qqq.png' %}"></a>
            </div>
        </div>
        <div class="blog-info" style="padding-top: 10px">
            <small><span class="text-color-999"><a>{{ content_detailed.fourm_userid }}</a></span></small>
            <small><span class="text-color-999">回复于{{ content_detailed.fourm_time }}</span></small>
        </div>
        <br/>
        <div class="blog-txt container" style="padding-left: 60px;padding-right: 60px">
             回复内容
        </div>
    </div>
</div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <a class="fa btn btn-primary">回复</a>
                <a class="fa btn btn-primary">引用</a>
                <a class="fa btn btn-primary">关注</a>
                <a class="fa fa-thumbs-up btn btn-primary"></a>
                <a class="fa fa-thumbs-down btn btn-danger"></a>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 100px"></div>-->
</body>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
</html>