<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ospsinspur</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.css"  %}" rel="stylesheet" />
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript">
            $('.myTabs a').click(function (e) {
                alert('1');
                e.preventDefault();
                $(this).tab('show');
            })
        </script>
    </head>
<body class="home-template">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="#" alt="">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">XX版论坛</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">PS专业版</a></li>
                        <li><a href="#">PS商贸版</a></li>
                        <li><a href="#">PS标准版</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">PSCloud</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-search" title="搜索"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bell" title="通知"></span></a></li>
                <li ><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="nav nav-tabs navbar-right myTabs">
                        <li class="active"><a href="#">最新</a></li>
                        <li><a href="#">推荐</a></li>
                        <li ><a href="#">热门</a></li>
                        <li><a href="#">待回复</a></li>
                    </ul>
                    <div class="aw-comment-list blog-main">
                        <div class="heading-blog">
                            <a href="#">主题</a>
                        </div>
                        <div class="">
                            <span class="text-color-999">板块-</span>
                            <span class="text-color-999">发布人-</span>
                            <span class="text-color-999">发布时间-</span>
                            <span class="text-color-999">浏览:999</span>
                            <span class="text-color-999">回复:999</span>
                        </div>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    <!--<ul class="list-group">
                        <li class="list-group-item"  style="text-align: center">
                            <img src="#" />
                        </li>
                        <li class="list-group-item" style="text-align: center">
                            <strong>用户名</strong>
                        </li>
                    </ul>-->
                    <ul class="list-group">
                          <li class="list-group-item" style="text-align: center">
                            <a href="#"><strong>新主题</strong></a>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>板块分类</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">104</span>
                            技术
                        </li>
                        <li class="list-group-item">
                            <span class="badge">34</span>
                            培训
                        </li>
                        <li class="list-group-item">
                            <span class="badge">10</span>
                            其他
                        </li>
                        <li class="list-group-item">
                            <strong>热门主题</strong>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">104</span>
                            主题一
                        </li>
                        <li class="list-group-item">
                            <span class="badge">34</span>
                            主题二
                        </li>
                        <li class="list-group-item">
                            <span class="badge">10</span>
                            主题三
                        </li>
                        <li class="list-group-item">
                            <span class="badge">50</span>
                            主题四
                        </li>
                    </ul>
                    <br />
                    <div>
                        <!--<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">订阅更新</h3>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" placeholder="Your Email" />
                                <hr />
                                <a href="#" class="btn btn-info btn-sm btn-block">subscribe</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>